name: Tests on Pull Requests

on:
  pull_request:
    branches: [ main ]
    types: [ opened, synchronize, reopened ]

jobs:
  testing:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Set up Python
        run: uv python install
        # This will respect the Python version pinned in the project

      - name: Run all tests
        run: uv run python -m pytest signals/tests/ -v --tb=short
        # The project's dependencies are implicitely installed
